.dm-one {
  display: grid;
  grid-template-columns: 60px 1fr;
}
.dm-one-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
}

.dm-receiver {
  font-size: var(--font-S);
  text-align: center;
}

.dm-text-wrapper {
  width: 100%;
}

.dm-text {
  background-color: var(--brand-color);
  padding: 10px;
  margin-right: 10px;
  font-size: var(--font-S);
  position: relative;
}

.dm-read-sign {
  position: absolute;
  display: inline;
  bottom: 5px;
  right: 7px;
  font-size: 2px;
  color: #803939;
}

.dm-list h6 {
  display: inline-block;
}
.dm-date {
  display: block;
  margin-top: 5px;
  margin-right: 10px;
  color: #888;
}

.dm-date-right {
  text-align: right;
}

.dm-date-left {
  text-align: left;
}

.radius-left {
  border-radius: 0 10px 10px 10px;
}

.margin-left {
  width: 80%;
  margin: 3px auto 20px 0;
}

.radius-right {
  border-radius: 10px 0 10px 10px;
}

.margin-right {
  width: 80%;
  margin: 3px 0 20px auto;
}

.dm_title_flex {
  display: flex;
}

/* notification */
#dm-popup-notification {
  height: 120px;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;

  overflow-x: hidden;
  transition: 0.5s;
  background-color: var(--accent-color-dark);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.dm-popup-notification-inner {
  padding: 15px;
  font-size: var(--font-S);
}

.dm-popup-notification-inner div {
  margin-top: 8px;
}
