.dm-one {
  display: grid;
  grid-template-columns: 60px 1fr;
}
.dm-one-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
}

.dm-receiver {
  font-size: var(--font-S);
  text-align: center;
}

.dm-text-wrapper {
  width: 100%;
}

.dm-text {
  background-color: var(--brand-color);
  padding: 10px;
  margin-right: 10px;
  font-size: var(--font-S);
  position: relative;
}

.dm-read-sign {
  position: absolute;
  display: inline;
  bottom: 5px;
  right: 7px;
  font-size: 2px;
  color: #803939;
}

.dm-list h6 {
  display: inline-block;
}
.dm-date {
  display: block;
  margin-top: 5px;
  margin-right: 10px;
  color: #888;
}

.dm-date-right {
  text-align: right;
}

.dm-date-left {
  text-align: left;
}

.radius-left {
  border-radius: 0 10px 10px 10px;
}

.margin-left {
  width: 80%;
  margin: 3px auto 30px 0;
}

.radius-right {
  border-radius: 10px 0 10px 10px;
}

.margin-right {
  width: 80%;
  margin: 3px 0 30px auto;
}

.dm_title_flex {
  display: flex;
}
